name: CI

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: latest
          cache: pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Generate codes
        run: |
          pnpm run generate:js
          pnpm run generate:ts

      - name: Check formatting
        run: pnpm run lint

      - name: Check types
        run: pnpm run type-check

      - name: Run build
        run: pnpm run build
